.Menu{
    display: inline-flex;
height: 20px;
align-items: flex-start;
gap: 4px;
flex-shrink: 0;
width: 100%;
background-color: rgba(197, 197, 197, 0.20);
position: relative;
}

.toolbarButton{
  height: 20px;
  font-size: 12px;
  font-family: var(--font);
  color:var(--neutral-10);
  padding-left: 8px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 7px;
  background: none;
  border: none;
  display: flex;
  /* align-items: center; */
}

.toolbarButtonCompact{
  height: 20px;
  font-size: 12px;
  font-family: var(--font);
  color:var(--neutral-10);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.toolbarBtnHover:hover{
  background-color: var(--blue-2);
  /* border: 1px solid var(--blue-neutral-2); */
  outline: 1px solid var(--blue-neutral-2)
}



.toolbarButtontoggle{
  background-color: var(--surface-2) !important;
  border: 1px solid var(--blue-neutral-2) !important;
  border-bottom: none !important;
}

.toolbarbtnsplit{
  margin-left: 2px;
}

.toolbarIconBtn{
  width:30px;
  height: 30px;
 
  
  font-size: 12px;
  font-family: var(--font);
  color:var(--neutral-10);

  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbarIconBtnSplit{
  font-size: 12px;
  font-family: var(--font);
  color:var(--neutral-10);
  width: 11px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



.toolbarIconBtnSplitContainer{
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.toolbarBtnHoverSplit:hover{
  background-color: var(--blue-2);
}

.toolbarBtnHoverSplit:hover>button{
  /* border: 1px solid var(--blue-neutral-2); */
  outline: 1px solid var(--blue-neutral-2);
}

.dialogbtn{
  
  font-size: 12px;
  font-family: var(--font);
  color:var(--neutral-10);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  background: var(--surface-2);
  border: 1px solid var(--blue-neutral-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogbtn:hover{
  background-color: var(--blue-neutral-1);
}

.ToolbarDropdownItem{
    display: flex;
    min-width: 186px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
    gap: 7px;
    background-color: var(--surface-2);
    box-sizing: border-box;
    width: 100%;
}

.ToolbarDropdownItem p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font);
    line-height: 24px;
    text-wrap: nowrap;
}

.ToolbarDropdownItemActive{
    background-color: var(--blue-2);
    /* border: 1px solid var(--blue-neutral-2) */
}



.ToolbarDropdownItem span{
    display: flex;
    align-items: center;
    justify-content: end;
}

.ToolbarDropdownItem div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.endGroup {
    border-bottom: 1px solid var(--blue-neutral-2);
}

.ToolbarMenuItem{
    display: flex;
    position: relative;
}

.ToolbarSubMenu{
    display: none;
    position: absolute;
    /* left:188px; */
    box-shadow: 2px 2px 3px 0px #757E87;
    border:1px solid var(--blue-neutral-2);
    pointer-events: none;
    min-width: 211px;
}

.ToolbarSubMenuShow{
    display: block;
}

.ToolbarSubMenu .ToolbarDropdownItem {
    min-height: 26px;
    padding-right: 14px;
    width: auto;
    
}

.mainToolbarDropdownContainer{
    border:1px solid var(--blue-neutral-2);
    display: flex;
    flex-direction: column;
    width: -webkit-max-content;
    width: max-content;
    box-shadow: 2px 2px 3px 0px #757E87;
}

.endGroupItem{
   border-bottom:  1px Solid #D5DADF;
}

.DropdownInputItem{
    font-size: 11px;
    font-family: var(--font);
    font-weight: 500;
    color:var(--neutral-11);
    padding-left: 2px;
    display: flex;
}

.DropdownInputItemActive{
    background-color: var(--blue-5);
    color:var(--surface-1);
}

.DropdownInput{
    background-color: var(--surface-1);
    border:1px solid var(--blue-5);
    box-shadow: 4px 4px 2px -2px #8E8E8E;
    min-width: 164px;
}

[id*="submenu"] span>p{
    margin:0 !important;
    margin:initial !important;
}

[id*="submenu"] p{
    margin:0 !important;
    margin:initial !important;
}

/*# sourceMappingURL=stories-menu-Menu-stories.499e28f9.chunk.css.map*/